{% extends "base.html" %} {% block title %} Welcome {% endblock %} {% block
content %}

<div container>
  <div class="row">
    <div class="col-xl">
      <h1 style="text-align: center;">Hoşgeldiniz</h1>
      <div style="display: flex; justify-content: center;">
        <img src="{{ url_for('static', filename='images/imgur.png') }}" alt="News" style="width: 10%; height: 10%;">
    </div>

  <div class="row">

    <div class="col-md-4" style=" position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);">
      <div>
        <table class="table">
          <thead>
            <tr>
              <th scope="col">Kaynak</th>
              <th scope="col">Miktar</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">AA</th>
              <td>{{ news }}</td>
            </tr>
            <tr>
              <th scope="row">X</th>
              <td>{{ tweets }}</td>
            </tr>
          </tbody>
          <tfoot>
            <tr>
              <th scope="row" style="font-size: 11px;">{{ news_time }}</th>
            </tr>
        </table>
      </div>
    </div>
  </div>
  {% endblock %}
</div>