{% extends "base.html" %}

{% block title %}
Twitler
{% endblock %}

{% block content %}
<div class="container" style="margin-right: 5%; margin-left: 5%; padding-bottom: 50px;">
    <h1>Twitler</h1>

    <div class="table-container" style="width: 50%; float: left;"> <!-- Left half for table -->
        <table id="example" class="display hover my-table" style="width:100%">
            <thead>
                <tr>
                    <th>Index</th>
                    <th>Name</th>
                    <th>Handle</th>
                    <th>Timestamp</th>
                    <th>Content</th>
                    <th>Action</th> 
                </tr>
            </thead>
            <tbody>
                {% for entry in entries %}
                <tr {% if entry.is_generated %}style="background-color: #c3e6cb;"{% else %}style="background-color: #ffff9f;"{% endif %}>
                    <td class="scrollable-cell">{{ entry.index }}</td>
                    <td class="scrollable-cell">{{ entry.Name }}</td>
                    <td class="scrollable-cell">{{ entry.Handle }}</td>
                    <td class="scrollable-cell">{{ entry.Timestamp }}</td>
                    <td class="scrollable-cell">
                        <div class="scrollable-cell">{{ entry.Content }}</div>
                    </td>
                    <td>
                        <form action="/tweets" method="POST" class="my-4">
                            <input type="hidden" name="name" value="{{ entry.Name }}" />
                            <input type="hidden" name="text" value="{{ entry.Content }}" />
                            <input type="hidden" name="index" value="{{ entry.index }}" />
                            <button type="submit" class="btn btn-primary">Generate Summary</button>
                        </form>
                        
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="generate-container" style="float: right; padding-left: 10%;">
        <h1>Üretilmiş Haber</h1>
        {% if summary %}
        <h2>Haber:</h2>
		<form action="/tweets" method="POST">
			<textarea name="generated_news" style="width: 100%;height:450px;">{{ summary }}</textarea>
			<input type="hidden" name="index" value="{{ index }}">
            <input type="submit" value="Submit News">
        </form>
        {% endif %}
    </div>

    <div style="clear: both;"></div>
</div>

<style>
    .scrollable-cell {
        padding-right: 10px;
        max-height: 150px;
        max-width: 250px;
        overflow: auto;
    }

    .generate-container textarea {
        width: 100%; /* Make the textarea expand to 100% of its container */
    }
    .small-button {
    width: 40px;
    height: 40px;
    padding: 3px;
    margin-right: 5px;
    cursor: pointer;
}
</style>

<script>
    var table = new DataTable("#example");
  
    var refreshButton = document.createElement("img");
    refreshButton.id = "refreshButton";
    refreshButton.src = "https://www.svgrepo.com/show/109169/refresh.svg";
    refreshButton.className = "btn-refresh small-button";

  
    var isRefreshing = false;
  
    refreshButton.addEventListener("click", function () {
      if (!isRefreshing) {
        isRefreshing = true;
        refreshButton.style.pointerEvents = "none";
  
        fetch("/refresh_tweets", {
          method: "GET",
        })
          .then(function (response) {
            return response.text();
          })
          .then(function (data) {
            location.reload();
          })
          .finally(function () {
            isRefreshing = false;
            refreshButton.style.pointerEvents = "auto";
          });
      }
    });
  
    var searchLabel = document.querySelector(".dataTables_filter label");
  
    searchLabel.insertBefore(refreshButton, searchLabel.firstChild);
  </script>
{% endblock %}